body {
  background-color: #dbab0f;
}
.info-card {
  background-color: #272727;
  width: 100%;
  margin-top: 10%;
  min-height: 95%;
  position: relative;
  text-align: center;
  padding-top: 100px;
}
.item {
  width: 50%;
  left: 25%;
  position: relative;
  padding: 20px 0 20px 0;
}

.title {
  color: rgb(173, 172, 172);
  cursor: pointer;
}

.box-text-container {
  width: 100%;
  background-color: #272727;
  position: relative;
  overflow: hidden;
}

.box-text-container p {
  width: 70%;
  margin-left: 15%;
  text-align: justify;
  position: relative;
  color: rgb(190, 190, 190);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #383838a1;
}

::-webkit-scrollbar-thumb {
  background: #dbac0fda;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a746b8;
}
hr {
  margin-top: 0;
  color: whitesmoke;
}

#header {
  min-height: 7vh;
  width: 100%;
}

#holder {
  position: relative;
}

#body {
  min-height: 83vh;

  position: relative;
}

#footer {
  bottom: 0;
  height: 10vh;
  left: 0;
  position: relative;
  right: 0;
}
