body {
  background-color: rgb(68, 68, 68);
}

#header {
  min-height: 7vh;
  width: 100%;
}

#holder {
  position: relative;
}

#body {
  min-height: 83vh;

  position: relative;
}

#footer {
  bottom: 0;
  height: 10vh;
  left: 0;
  position: relative;
  right: 0;
}

.sidebar-menu {
  height: 80%;
  max-width: 250px;
  position: relative;
  z-index: 100;
  top: 10%;
  left: -50px;
  background-color: rgb(41, 41, 41);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 0;
}

.fa-cc-paypal,
.fa-cc-visa,
.fa-money-check-pen {
  color: rgb(218, 218, 218);
  transform: scale(4.6);
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  cursor: pointer;
  transition: 0.3s;
}
.fa-cc-paypal:hover {
  transform: scale(4.8);
}

.donation-item {
  margin-top: 150px;
  width: 100%;
  text-align: center;
}

.donation-item:first-child {
  margin-top: 50px;
}
.donation-container {
  height: 500px;
  width: 80%;
  position: relative;
  top: 10%;
  background-color: rgb(155, 155, 155);
  overflow-x: hidden;
  padding-top: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
}
